.sidebar {
  position: sticky;
  top: 0px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  color: #0f1419;
  max-width: 600px;
  height: 100vh;
  z-index: 5;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.menuHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 40px;
}

.sidebar > * {
  margin-left: 2rem;
  margin-right: 2rem;
}

.sidebar a {
  display: flex;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  transition: background-color 0.25s;
}

.sidebar a:hover {
  background: #f0f0f0;
  border-color: rgb(37, 199, 248);
}

.sidebar a.active {
  background: rgb(37, 199, 248);
  color: white;
}

.sidebar a.pending {
  /* color: #646cff; */
  color: #0f1419;
}

.optionHome:hover {
  background: #e3e3e3;
}

.avatarHomeButton {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
}

.optionHome {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 40px;
  margin-bottom: 24px;
}

.optionHome > p {
  flex: 1;
}

.optionHeader {
  font-size: x-large;
}

.optionHeader a {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 16px 8px 12px;
  border-radius: 20px;
}

.modalOption {
  padding: 12px 0 12px 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 16px;
  border: 1px solid #0f1419;
  background-color: white;
  position: relative;
  top: 10px;
}

.show > div {
  background-color: white;
}

.svgArrowBot {
  font-size: larger;
  color: #0f1419;
  z-index: 3;
  position: relative;
  left: 80px;
  top: 2px;
}

.logout {
  padding: 8px 16px 8px 12px;
  border-top: 1px solid gray;
  cursor: pointer;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 0.25s;
}

.logout:hover {
  background-color: #f0f0f0;
}

.deleteAccount {
  padding: 8px 16px 8px 12px;
  border: none;
  cursor: pointer;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 0.25s;
}
.deleteAccount:hover {
  border: none;
  background-color: #f0f0f0;
}

.socials {
  display: flex;
  gap: 24px;
  flex-direction: column;
  font-size: xx-large;
}

.socials a:hover {
  background: none;
  border-color: transparent;
  cursor: pointer;
}

.socials a:first-child > svg {
  color: #0a66c2;
  animation: rotateAnimation 3s linear infinite;
}

.socials a:last-child > svg {
  color: #1f2328;
  animation: rotateAnimation 3s linear infinite;
}

.containerBurger {
  display: none;
}

/* burger menu */
@media (max-width: 730px) {
  .containerBurger {
    display: block;
    color: #36454f;
  }

  .sidebar a:hover {
    background: none;
    border-color: transparent;
  }
  .subContainerBurger {
    margin: auto;
    position: relative;
    top: 4px;
    font-size: xx-large;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
  }

  .optionHeader > a {
    border-radius: 0% !important;
  }

  .subContainerBurgerChecked {
    background-color: white;
    color: #27cfff;
    border-radius: 5px 5px 0 0;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
  }

  #toggle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    height: 33px;
  }

  #toggle:checked ~ ul {
    visibility: hidden;
    opacity: 0;
  }

  .subContainerBurgerChecked ul {
    border-radius: 0 0 5px 5px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }

  .subContainerBurger ul {
    width: 34px;
    padding-left: 0;
    margin-top: 0;
    background: #ffffff;
    list-style: none;
    overflow: hidden;
    right: 10px;
    text-align: right;
    text-align: center;
    transition: all 0.4s ease-out;
    position: fixed;
  }

  .subContainerBurger li:hover {
    background-color: black;
    color: white;
  }
  .subContainerBurger ul a {
    display: block;
    color: inherit;
    text-transform: lowercase;
    font-weight: 200;
    text-decoration: none;
  }
}
@keyframes rotateAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@media (max-width: 1200px) {
  .sidebar {
    min-width: 280px;
  }
}
@media (max-width: 910px) {
  .svgArrowBot {
    left: 15px;
  }
  .sidebar {
    min-width: initial;
  }
  .sidebar a > p {
    display: none;
  }
  .optionHeader > a {
    padding: 4px 4px 4px 4px;
    border-radius: 50%;
  }
  .optionHome > img {
    display: none;
  }
  .optionHome > p {
    display: none;
  }
}

@media (max-width: 730px) {
  .homePage {
    flex-direction: column;
    align-items: stretch !important;
  }
  .sidebar {
    position: relative;
    max-width: none;
    padding: 0 10px;
    align-items: center;
    border-bottom: 1px solid black;
  }
  .sidebarContent {
    flex-direction: row-reverse;
    align-items: center;
    height: fit-content;
    flex: 1;
  }

  .socials {
    flex-direction: initial;
  }
  .sidebar > * {
    margin: 0;
  }
  .optionHome {
    margin: 0;
  }
  .svgArrowBot {
    display: none;
  }
  .modalOption {
    position: fixed;
    top: 42px;
  }
  .menuHeader {
    display: none;
  }

  .logout {
    border-top: 1px solid transparent;
  }
  .deleteAccount {
    border-bottom: 1px solid gray;
  }
  .deleteAccount:hover {
    border-bottom: 1px solid gray;
  }
}
